* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgba(255, 255, 255, 0.87);
  background: rgb(32, 35, 41);
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    margin: auto;
  }

  .col-xl-6 {
    width: 46.6666%;
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 12px;
  }

  .col-6 {
    width: 100%;

    flex-direction: column;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

.text-capitalize {
  text-transform: capitalize;
}

.img-fluid {
  max-width: 100%;
}

.carddetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.alive {
  color: green;
  font-size: initial;
  padding: 5px;
}

.dead {
  color: red;
  font-size: initial;
  padding: 5px;
}

.unknown {
  color: gray;
  font-size: initial;
  padding: 5px;

}

.card {
  margin: 1rem auto;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  /* justify-content: flex-start; */
  /* align-items: center; */
  background: rgb(60, 62, 68);
  box-shadow: 5px 5px 25px black;
  object-fit: cover;

  animation: fadeInMove 1s ease;
}

.card>img {
  width: 200px;
  /* min-height: 150px; */
  height: 100%;
  /* object-fit:cover; */
  animation: fadeIn 1s ease-in-out;
}

.carddetails p {
  font-weight: bold;
  font-size: 1.1rem;

  padding: 10px;
}

.cardname {
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
  font-weight: 800 !important;
  font-size: 1.5rem !important;
}

.lastlocation {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: gray !important;
}

.lastlocation span {
  color: white !important;
}

.firstseen {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-weight: lighter;

  color: gray !important;
}

.firstseen span {
  color: white !important;
}